header {
    width: 100%;
    background-color: bisque;
    display: block;
    overflow: hidden;
}
.header {
    float: left;
    display: block;
    text-align: center;
    color: black;
    padding: 12px 5px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.body {
    display: block;
    background-color: yellow;
    
}
.img1 {
    width: 25%;
    float: left;
    margin-right: 2%;
}

.img2 {
    width: 100%;
}

.h2 {
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    display: block;
    clear: both;
    padding-top: 1%;
    overflow: hidden;
}
.news {
    float: left;
    display: block;
    width: 30%;
    margin-right: 3%;
}